body {
	font-family: 'Poppins', sans-serif;
	background-image: url("images/wall.jpg");
	background-repeat: repeat;
	background-attachment: fixed;
	color: black;
}


.giphy-image {
	align-content: center;
	border: 5px solid white;
	margin: 10px;
	box-shadow: 5px 5px 5px grey;

}

h3 {
	font-family: 'Special Elite', cursive;
	font-size: 250%;
	background-color: white;
	opacity: .8;
	font-weight: bold;
}

.instructions {
	font-size: 120%;
	width: 80%;
	margin: 20px 0 0 0;
	border: 3px solid hotpink;

}

p {
	color: black;
	font-family: 'Poppins', sans-serif;
	background-color: white;
	opacity: .8;
	box-shadow: 2px 2px 1px grey;
	font-size: 80%;
	width: 30%;
	margin: 10px 0 -20px 5px;
}

form {
	margin: 20px;
	padding: 2px;
	background-color: hotpink;
	opacity: .8;
}

#search-hog {
	margin: 0 5px 0 0;
}

#add-hog {
	background-color: white;
	margin: 5px 5px 0 0;
	box-shadow: 2px 2px 1px grey;
}

.hoggybuttons {
	background-color: white;
	margin: 2px;
	width: auto;
	box-shadow: 2px 2px 1px grey;
}